.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    left: -25px;
  }
  
  .about-section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.6px;
    letter-spacing: 0.145rem;
  }

  .about-heading{
    font-family: "lato", sans serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 52.2px;
    position: absolute;
    margin:0;
    top:46px;
    color: #181818;
   
  }
  

  .about-description{
    position: absolute;
    font-family: "lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26.55px;
    color: #181818;
  }

  .about-text{
    position: absolute;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.55px;
    color: #595566;
  }
  .about-right {
    flex: 1;
    min-width: 300px;
    text-align: center;
  }

  /* .about-stat-value{
    margin-top: 40px;
    width: 170px;
    height: 94px;
    top: 355px;
    background-color: #f6f6f6;
    border-radius: 15px;

  }
   */

