.about-banner-section {
    width: 100%; 
    height: auto; 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
  }
  
  .about-banner-background {
    width: 100%; 
    height: auto; 
    aspect-ratio: 3;
    background-image: url("../images/about-banner.png");
    background-repeat: no-repeat; 
    background-size: contain; 
    position: relative;
  }
  
  .about-banner-content {
    position: absolute; 
    top: 30%; 
    left: 20%; 
    transform: translate(0, -50%);
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px 30px; 
    border-radius: 29px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  
  .about-banner-content .title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; 
    margin-bottom: 10px; 
  }
  
  .about-banner-heading {
    font-family: "Cabin", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #181818;
    margin: 10px 0;
    word-wrap: break-word;
    max-width: 650px;
    line-height: 58px;
  }

  
  @media (max-width: 1024px) {
    .about-banner-content {
      top: 35%; 
      left: 15%;
      max-width: 500px; 
      padding: 15px 10px; 
      font-size: 14px;
      line-height: 48px; 
    }
  
    .about-banner-heading {
      font-size: 40px; 
      line-height: 48px; 
    }
  }
  

  @media (max-width: 768px) {
    .about-banner-content {
      top: 35%; 
      left: 10%; 
      max-width: 90%; 
      padding: 5px 10px; 
    }
  
    .about-banner-heading {
      font-size: 30px; 
      line-height: 36px; 
      max-width: 400px;
    }
  }


.our-vision {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 20px;
  box-sizing: border-box;
}


.our-vision-left {
  flex: 1;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
}

.our-vision-left h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  color: #181818;
  margin: 0;
}

.our-vision-left p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #595566;
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 570px;
}

.vision-points {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vision-point {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.vision-point img {
  width: 20px;
  height: 20px;
}

.vision-point p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #595566;
  margin: 0;
}


.our-vision-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.our-vision-right img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 1024px) {
  .our-vision {
    flex-direction: column;
    gap: 30px;
  }

  .our-vision-left h2 {
    font-size: 30px;
    line-height: 36px;
  }

  .our-vision-left p {
    font-size: 14px;
    line-height: 20px;
  }

  .vision-point p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .our-vision-left h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .our-vision-left p {
    font-size: 12px;
    line-height: 18px;
  }

  .vision-point p {
    font-size: 12px;
    line-height: 18px;
  }

  .vision-point img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 480px) {
  .our-vision {
    padding: 30px 10px;
  }

  .our-vision-left h2 {
    font-size: 20px;
    line-height: 26px;
  }

  .our-vision-left p {
    font-size: 10px;
    line-height: 16px;
  }

  .vision-point p {
    font-size: 10px;
    line-height: 16px;
  }

  .vision-point img {
    width: 14px;
    height: 14px;
  }
}

.principles-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 70px;
  background-color: #f5f5f5;
}


.principles-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  gap: 10px; 
}

.principles-header .principle-title {
  flex: 1; 
  text-align: left; 
}



.principles-header h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52.2px;
  color: #181818;
  margin-bottom: 15px;
}

.principles-header p {
  font-family: "lato",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.6px;
  color: #595566;
  word-break: break-all;
  max-width: 580px;
  margin-bottom: 10px;
}

.principles-button {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}



.principles-button button:hover {
  background-color: #333333;
}


.principles-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .principles-section {
    padding: 10px;
  }

  .principles-header h2 {
    font-size: 28px;
  }

  .principles-header p {
    font-size: 14px;
  }

  .principles-button {
    justify-content: center; 
    margin-top: 10px; 
  }

  .principles-container {
    flex-direction: column; 
    gap: 15px; 
    align-items: center;
  }
}

.our-history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  gap: 20px;

}

.history-header {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
}

.history-header h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52.3px;
  color: #181818;
  margin: 20px 0;
  max-width: 500px;
  
 
}

.history-header p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.6px;
  color: #595566;
  margin: 0;
  max-width: 720px;
}

.history-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1060px;
}

.history-video-wrapper {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.history-video {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
}



/* Responsive Tasarım */
@media (max-width: 768px) {
  .history-header h2 {
    font-size: 28px;
  }

  .history-header p {
    font-size: 14px;
  }

  
}

@media (max-width: 480px) {
  .history-header h2 {
    font-size: 24px;
  }

  .history-header p {
    font-size: 12px;
  }

  
}

.team-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 20px;
  background-color: #f9f9f9;
}

.team-header {
  text-align: left;
  width: 100%;
  max-width: 970px;
  margin-bottom: 40px;
}

.team-header h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52.3px;
  max-width: 600px;
  color: #181818;
  margin: 0px 0;
}

.team-header p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.6px;
  color: #595566;
  max-width: 640px;
  margin-top: 10px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.person-card {
  flex: 1 1 calc(33.33% - 20px); /* Eşit sütunlar */
  max-width: 300px;
}

@media (max-width: 768px) {
  .person-card {
    flex: 1 1 calc(50% - 20px); /* Orta ekranlar için 2 sütun */
  }
}

@media (max-width: 480px) {
  .person-card {
    flex: 1 1 100%; /* Küçük ekranlar için 1 sütun */
  }
}

.consult-banner {
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  width: 60%;  
  margin: 0 auto;  
  background-color: #000;  
  color: #fff;   
  border-radius: 20px;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  gap: 20px;  
  margin-top: 200px;
  margin-bottom: 220px;
}

.consult-banner-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
  display: inline-block;
  padding-left: 49px;
  flex: 1;  
  text-align: left;  
  
}

.consult-banner-right{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  
}


.consult-banner-left h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52.2px;
  color: #ffffff;
  word-break:break-word ;
  max-width: 450px;
  
}

.consult-banner-left p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.6px;
  color: #ffffff;
  word-break:break-word ;
  max-width: 410px;
  margin-top: 20px;
}

.consult-phone {
  margin-top: 30px;
}

 

.consult-image {
  width: 100%; /* Varsayılan olarak bulunduğu alanı doldur */
  max-width: 520px; /* Maksimum genişlik (istenilen boyuta göre ayarlanabilir) */
  max-height: 525px;
  height: auto; /* Oranı koruyarak yükseklik ayarla */
  object-fit: contain; /* Görseli taşırmadan göster */
  transition: width 0.3s ease; /* Görsel küçülürken geçiş efekti */
}


@media (max-width: 1200px) {
  .consult-banner {
    flex-direction: column; /* Banner içeriğini alt alta diz */
    align-items: center;

  }

  .consult-banner-right {
    margin-top: 20px; /* Sağ bölüm için üst boşluk ekle */
    flex: none; /* Varsayılan genişlik ayarını kaldır */
    width: 100%; /* Genişlik tüm banner alanını kaplasın */
    justify-content: center;
  }

  .consult-image {
    max-width: 300px; /* Görseli küçült */
  }
}


