.home-banner-section {
  width: 100%; 
  height: auto;
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}

.home-banner-background {
  width: 100%; 
  height: auto; 
  aspect-ratio: 2.3;
  background-image: url("../images/homepage-banner-.png"); 
  background-repeat: no-repeat; 
  background-size: contain; 
  position: relative;
}

.home-banner-content {
  position: absolute; 
  top: 50%; 
  left: 13%; 
  transform: translate(0, -50%); 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 60px 80px; 
  border-radius: 29px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.home-banner-button{
  display: flex; 
  align-items: center; 
  gap: 20px; 
}


.home-banner-content .title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; 
  margin-bottom: 10px; 
}

.home-banner-heading {
  font-family: "Cabin", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #181818;
  margin: 10px 0;
  word-wrap: break-word;
  max-width: 450px;
  line-height: 58px;
}

.home-banner-text{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #595566;
  margin: 20px 0;
  word-wrap: break-word;
  max-width: 450px;
  line-height: 23.6px;
}


@media (max-width: 1024px) {
  .home-banner-content {
    top: 50%;
    left: 15%; 
    max-width: 500px; 
    padding: 5px 5px;
    font-size: 10px; 
    line-height: 48px; 
  }

  .home-banner-heading {
    font-size: 40px; 
    line-height: 48px; 
  }
}


@media (max-width: 768px) {
  .home-banner-content {
    top: 50%; 
    left: 10%; 
    max-width: 70%; 
    padding: 5px 5px;
  }

  .home-banner-heading {
    font-size: 20px; 
    line-height: 36px; 
    max-width: 400px;
  }
}



.about-section {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}


.about-left {
  flex: 1; 
}

.about-left h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  color: #181818;
  margin: 0;
  word-wrap: break-word;
  max-width: 500px;
}

.about-left p:nth-of-type(1) {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26.55px;
  color: #181818;
  word-wrap: break-word;
  max-width: 400px;
  margin-top: 10px;
}

.about-left p:nth-of-type(2) {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #595566;
  word-wrap: break-word;
  max-width: 410px;
  margin-top: 10px;
}

.about-stats {
  display: flex;
  gap: 50px; 
  margin-top: 30px;
}

.stat-item {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 15px;
  width: 180px;
  text-align: center;
}

.stat-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px; 
  
}

.business-services{
  font-family: "Cabin", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 34.8px;
  color: #181818;
  display: flex;
  gap: 10px;
}

.stat-item span{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.6px;
  color: #181818;
}


.about-right {
  flex: 1; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-right img {
  width: 100%; 
  max-width: 700px;
  border-radius: 15px;
}


@media (max-width: 768px) {
  .about-section {
    flex-direction: column; 
    text-align: center;
  }

  .about-left h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .about-left p {
    font-size: 14px;
    line-height: 20px;
  }

  .stat-item {
    width: 140px;
    padding: 15px;
  }

  .about-right img {
    max-width: 300px; 
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .stat-item {
    width: 120px;
  }

  .about-left h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .about-left p {
    font-size: 12px;
    line-height: 18px;
  }
}

.client {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  gap: 20px; 
  margin: 20px auto;
  margin-bottom: 50px;
}

.client div {
  flex: 1; 
  display: flex;
  justify-content: center; 
}

.client img {
  max-width: 100%; 
  height: auto;
  object-fit: contain; 
}





.process-page {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    padding: 40px;
    
  }
  
  .process-page-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 40px; 
    padding: 40px; 
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .custom-box-title{
    font-family: "lato",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.6px;
    letter-spacing: 0.145rem;
  }

  .custom-box{
    height: 30px;
    margin-bottom: 20px;
    
    
  }

  
  .process-section,
  .experience-section {
    flex: 1 1 calc(50% - 40px); 
    max-width: calc(50% - 10px);
  }
  
  .process-section {
    max-width: calc(50% - 50px);
    text-align: left;
  }
  
  .experience-section {
    text-align: left;   }
  
  .process-section h2,
  .experience-section h2 {
    font-family: "Cabin", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    color: #181818;
    margin-bottom: 20px;
  }
  
  .process-section p,
  .experience-section p {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.6px;
    margin-bottom: 20px;
    color: #595566;
  }
  
    .steps {
    display: flex;
    flex-direction: column;     gap: 20px;     padding-top: 20px;
    max-width: calc(90% - 48px);
  }

  .step h3{
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #181818;
    line-height: 23.2px;
    padding-bottom: 10px;

  }

  
  .step {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 0;
    border-bottom: 1px solid #c1c1c1;   }
  
  .step:last-child {
    border-bottom: none;   }

  .step:first-child {
    border-top: 1px solid #c1c1c1;     
}

  
  .step-icon {
    padding-top: 15px;
    width: 40px;
    height: 40px;
    background-color: #f0f4ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
  }
  
    .info-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);     gap: 20px;     max-width: 1200px;     margin: 0 auto;   }

  
  .info-card {
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    text-align:left;
    width: 320px;     max-width: 320px;     box-sizing: border-box;     border: 1px solid #eaeaea;
    box-shadow: none !important;
  }
  
  .info-card h3 {
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.6px;
    margin-top: 1px;
    margin-bottom: 10px;
    color: #181818;

  }
  
  .info-card p {
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.6px;
    color: #595566;
  }
  
    @media (max-width: 768px) {
    .process-section,
    .experience-section {
      flex: 1 1 100%;       max-width: 100%;
    }
  
    .process-page-container {
      flex-direction: column;     }
  
    .info-cards {
      grid-template-columns: 1fr;     }
  }
  
   
.hover-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 500px;  
  color: #000000;
  position: relative;  
  
}

.hover-background{
  position: relative;
  width: 100%;
}

 
.hover-section-header {
  display: flex;  
  flex-direction: column;  
  align-items: flex-start;  
  justify-content: center;  
  padding: 10px;  
  box-sizing: border-box;
  width: 50%;  
  position: absolute;
  top: 37%;  
  left: 51%;
  transform: translate(-50%, -50%);  
  margin: 0 auto;
  flex-wrap: wrap;
  
}


.hover-section-header h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  margin: 20px 0;
  color: #ffffff;
  text-align: left;
  word-wrap: break-word;
  max-width: 60%;
  
}

.more-gallery-button {
  position: absolute;
  padding: 10px 20px;
  border-radius: 42px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28.8px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  align-self: flex-end;
  margin-top: 10%;
  margin-right: 5%;
  
  
}

.more-gallery-button:hover {
  background-color: #e6b800;
}

 
.hover-image-cards {
  position: absolute;  
  top: 68%;  
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 30px;
}



.hover-image-cards {
  margin-top: 50px;
}

.hover-image-card {
  position: relative;  
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  flex: 1 1 calc(33.33% - 20px);  
  max-width: calc(33.33% - 20px);
}

.hover-image-card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.hover-image-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.hover-image-card:hover .hover-image-card-overlay {
  opacity: 1;
}

.hover-image-card-text {
  text-align: left;
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
}

.hover-image-card-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.hover-image-card-text h3 {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}

.hover-image-card-text p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FFCC4A;
}

@media (max-width: 991px) {

  .hover-background{
    width: 100%;
    height: 500px;
  }
  .hover-section-header{
    width: 90%;
    top: 20%;
    padding: 10px;
  }
  .hover-image-cards {
    flex-wrap: wrap;  
    top: 50%;
    padding: 10px;
  }
}

@media (max-width: 768px) {

  .hover-background{
    width: 100%;
    height: 300px;
  }
  .hover-section-header {
    width: 90%;  
    top: 15%;  
    padding: 10px;
  }

  .hover-image-cards {
    flex-wrap: wrap;  
    margin-top: 30px;
    padding: 10px;
  }

  .hover-image-card {
    flex: 1 1 100%;  
    max-width: 100%;
  }

  .more-gallery-button {
    font-size: 14px;  
    padding: 8px 16px;  
    bottom: 1%;
  }

  .hover-section-header h2 {
    font-size: 22px;  
    line-height: 32px;
    margin-top: -5px;
    
  }

  .hover-section {
    padding: 10px 10px 300px;  
  }
}


 
.home-counters {
  display: flex;
  justify-content: space-around;  
  align-items: center;  
  gap: 20px;  
  padding: 20px;
  flex-wrap: wrap;  
  max-width: 1200px;  
  margin: 0 auto;  
}

 
.home-counter {
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  flex: 1 1 calc(25% - 20px);  
  max-width: calc(25% - 20px);  
}

 
.home-counter p:first-child {
  font-family: "Cabin", sans-serif;
  font-size: 50px;  
  font-weight: 700;
  color: #181818;
  margin-bottom: 7px;  
}

 
.home-counter p:last-child {
  font-family: "CAbin", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #181818;
}

 
@media (max-width: 768px) {
  .home-counter {
    flex: 1 1 calc(50% - 20px);  
    max-width: calc(50% - 20px);
  }

  .home-counter p:first-child {
    font-size: 28px;  
  }

  .home-counter p:last-child {
    font-size: 14px;  
  }
}

@media (max-width: 480px) {
  .home-counter {
    flex: 1 1 100%;  
    max-width: 100%;
  }

  .home-counter p:first-child {
    font-size: 24px;  
  }

  .home-counter p:last-child {
    font-size: 12px;  
  }
}

.client-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  
}

.feedback-title {
  text-align: center;
  margin-bottom: 40px;
}

.feedback-description {
  font-family: "Cabin", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #cecece;
  line-height: 46.4px;
  margin-top: 10px;
  max-width: 600px;
  word-wrap: break-word;
}

.feedback-content {
  display: flex;
  flex-direction: row;  
  align-items: center;
  gap: 80px;
  justify-content: center;
}

.feedback-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -120px;
}


.feedback-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.profile-image {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.feedback-profile h2 {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.2px;
  color: #181818;
}

.feedback-profile p {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 23.6px;
  font-size: 16px;
  color: #4eaf4e;
  margin-top: 10px;
}

@media (max-width: 768px){
  .feedback-content{
    margin-top: 80px;
    
  }
  .feedback-profile{
    margin-bottom: 130px;
  }
}

@media (max-width: 768px) {
  .feedback-content {
    flex-direction: column;  
    gap: 20px;
  }

  .feedback-buttons {
    flex-direction: row;  
    gap: 15px;
  }

  .feedback-description {
    font-size: 32px;  
    line-height: 40px;
  }

  .profile-image {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .feedback-description {
    font-size: 28px;  
    line-height: 36px;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }

  .feedback-buttons {
    gap: 10px;  
  }
}


.consult-banner {
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  width: 60%;  
  margin: 0 auto;  
  background-color: #000;  
  color: #fff;   
  border-radius: 20px;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  gap: 20px;  
  margin-bottom: 220px;
}

.consult-banner-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
  display: inline-block;
  padding-left: 49px;
  flex: 1;  
  text-align: left;  
  
}

.consult-banner-right{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  
}


.consult-banner-left h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52.2px;
  color: #ffffff;
  word-break:break-word ;
  max-width: 450px;
  
}

.consult-banner-left p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.6px;
  color: #ffffff;
  word-break:break-word ;
  max-width: 410px;
  margin-top: 20px;
}

.consult-phone {
  margin-top: 30px;
}

 

.consult-image {
  width: 100%; 
  max-width: 520px; 
  max-height: 525px;
  height: auto; 
  object-fit: contain; 
  transition: width 0.3s ease; 
}


@media (max-width: 1200px) {
  .consult-banner {
    flex-direction: column;
    align-items: center;

  }

  .consult-banner-right {
    margin-top: 20px; 
    flex: none;
    width: 100%; 
    justify-content: center;
  }

  .consult-image {
    max-width: 300px; 
  }
}

.blog-section {
  padding: 200px 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px 130px;
  margin-bottom: 20px; 
  box-sizing: border-box;
  
  
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
  
  
}


.blog-header h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #181818;
  line-height: 52.2px;
  max-width: 600px;
  text-align: left;
  margin: 0;
}

.header-right {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-left: auto; 
}

.header-right button {
  display: inline-block;
  
}
 
.blog-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.blog-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(50% - 20px); 
  max-width: 800px;
  transition: all 0.3s ease;
}


.blog-card-image {
  width: 100%;
  border-radius: 20px;
  height: auto;
  margin-bottom: 20px;
}

.blog-card-title {
  font-family: "Cabin", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #181818;
  line-height: 34.8px;
  text-align: left;
  margin-bottom: 15px;
}

.blog-card-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #595566;
  line-height: 23.6px;
  margin-bottom: 20px;
  text-align: left;
}

.author-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}



.author-name {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #595566;
  line-height: 23.6px;
  margin-top: 25px;
}


.blog-card-author{
  margin-top: 10px;
  gap: 10px;
  display: flex;
  justify-content: space-around;
}

.blog-card .line {
  width: 100%;
  height: 1px;
  background-color: #d8d8d8; 
  margin: 10px 0; 
}

@media (max-width: 768px) {
  .blog-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .blog-card {
    width: 100%; 
  }

  .blog-header h2 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .blog-header h2 {
    font-size: 24px;
  }

  .blog-card-title {
    font-size: 18px;
  }

  .blog-card-description {
    font-size: 14px;
  }

  .author-name {
    font-size: 12px;
  }
}



.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; 
  padding: 90px 20px;
  flex-wrap: wrap; 
  width: 60%;
  margin: 0 auto;
}


.contact-left {
  flex: 0.4;
  flex-direction: column;
  gap: 20px;
  
}

.contact-left h2 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #181818;
  line-height: 52.2px;
  margin: 0;
}

.contact-left p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  margin: 10px 0;
  word-wrap: break-word;
  max-width: 400px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Lato", sans-serif;
  
}

.info-text{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-item img {
  width: 50px;
  height: 50px;
}

.info-item span:first-child {
  font-weight: 400;
  font-size: 16px;
  color: #595566;
}

.info-item span:last-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 23.2px;
  color: #181818;
}


.contact-right {
  flex: 0.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-row label {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.6px;
  color: #181818;
  margin-bottom: 5px;
}

.form-row input,
.form-row textarea {
  width: 100%;
  padding: 22px 33px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23.6px;
  color: #a9a9a9;
  border: 1px solid #c1c1c1;
  border-radius: 54px;
  outline: none;
}


.form-row input {
  height: 40px;
}

.form-row textarea {
  min-height: 100px;
  resize: none;
  width: 100%;
  padding: 22px 33px 111px 33px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23.6px;
  color: #a9a9a9;
  border: 1px solid #c1c1c1;
  border-radius: 24px;
  outline: none;
  margin-top: -20px;
}


.more-button {
  align-self: flex-start;
  border-radius: 50px;
}


@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    gap: 40px;
  }

  .contact-left,
  .contact-right {
    max-width: 100%;
  }

  .form-row {
    flex-direction: column;
  }

  .more-button {
    width: 100%;
  }
}


