.protection-banner-section {
    width: 100%; 
    height: auto; 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
  }
  
  .protection-banner-background {
    width: 100%; 
    height: auto; 
    aspect-ratio: 3.56;
    background-image: url("../images/protection-banner.png"); 
    background-repeat: no-repeat; 
    background-size: contain; 
    position: relative;
  }
  
  .protection-banner-content {
    position: absolute; 
    top: 25%; 
    left: 20%; 
    transform: translate(0, -50%); 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px 50px; 
    border-radius: 29px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
  

  .protection-banner-content .title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; 
    margin-bottom: 10px; 
  }
  
  .protection-banner-heading {
    font-family: "Cabin", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #181818;
    margin: 10px 0;
    word-wrap: break-word;
    max-width: 650px;
    line-height: 58px;
  }

  
  @media (max-width: 1024px) {
    .protection-banner-content {
      top: 25%; 
      left: 15%; 
      max-width: 500px;
      padding: 15px 10px; 
      font-size: 14px; 
      line-height: 48px; 
    }
  
    .protection-banner-heading {
      font-size: 40px; 
      line-height: 48px; 
    }
  }
  

  @media (max-width: 768px) {
    .protection-banner-content {
      top: 25%; 
      left: 10%; 
      max-width: 90%; 
      padding: 5px 10px; 
    }
  
    .protection-banner-heading {
      font-size: 30px; 
      line-height: 36px; 
      max-width: 400px;
      margin-top: -5px;
    }
  }
 

  .protection-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    padding: 80px;
    border-radius: 30px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 120px;
    margin-top: 120px;
  }
  

  .protection-title {
    font-family: "Cabin", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    color: #fff;
    margin-bottom: 20px;
  }
  

  .protection-mail {
    padding: 15px 20px;
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
  }
  

  .protection-mail::placeholder {
    font-family: "cabin", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #595566;
  }

  .protection-button {
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    background-color: #ffcc4a;
    font-family: "lato", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #181818;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .protection-button:hover {
    background-color: #e6b842;
  }
  

  .protection-section::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 400px;
    height: 400px;
    background-image: url("../images/protection-background-img.png"); 
    background-size: cover;
    opacity: 1;
    z-index: 1;

  }
  
  

  @media (max-width: 768px) {
    .protection-section {
      padding: 20px;
    }
  
    .protection-title {
      font-size: 28px;
    }
  
    .protection-mail {
      max-width: 300px;
    }
  
    .protection-button {
      padding: 12px 30px;
      font-size: 14px;
    }
  
    .protection-section::before {
      display: none;
      
    }

  }
  