.service-single-banner-section {
  width: 100%; 
  height: auto; 
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
}

.service-single-banner-background {
  width: 100%; 
  height: auto; 
  aspect-ratio: 3.92; 
  background-image: url("../images/servicesingle-banner.png");
  background-repeat: no-repeat; 
  background-size: contain; 
  position: relative;
}

.service-single-banner-content {
  position: absolute; 
  top: 30%; 
  left: 20%; 
  transform: translate(0, -50%); 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 30px 30px; 
  border-radius: 29px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.service-single-banner-content .title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; 
  margin-bottom: 10px; 
}

.service-single-banner-heading {
  font-family: "Cabin", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #181818;
  margin: 10px 0;
  word-wrap: break-word;
  max-width: 650px;
  line-height: 58px;
}


@media (max-width: 1024px) {
  .service-single-banner-content {
    top: 35%; 
    left: 15%; 
    max-width: 500px; 
    padding: 15px 10px; 
    font-size: 14px; 
    line-height: 48px; 
  }

  .service-single-banner-heading {
    font-size: 40px; 
    line-height: 48px; 
  }
}


@media (max-width: 768px) {
  .service-single-banner-content {
    top: 35%; 
    left: 10%;
    max-width: 90%;
    padding: 5px 10px; 
  }

  .service-single-banner-heading {
    font-size: 30px; 
    line-height: 36px; 
    max-width: 400px;
  }
}


@media (max-width: 480px) {
  .service-single-banner-content {
    top: 45%; 
    left: 5%; 
    max-width: 100%; 
    padding: 8px 8px; 
  }

  .service-single-banner-heading {
    font-size: 24px; 
    line-height: 30px; 
  }
}



.financial-projections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  background-color: #f5f5f5;
  
}

.financial-projections-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  max-width: 680px;
}

.header-icon {
  margin-bottom: 10px;
}

.header-icon svg {
  width: 50px;
  height: 50px;
  fill: #ffcc00;
}

.financial-projections-header h1 {
  font-family: "Cabin", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 10px;
  color: #181818;
}

.financial-projections-header p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #595566;
}

.financial-projections-cards {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; 
  max-width: 1200px;
}

.info-card {
  flex: 1 1 calc(25% - 20px); 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.info-card-icon {
  margin-bottom: 15px;
}

.info-card-title {
  font-family: "Cabin", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 10px;
}

.info-card-description {
  text-align: left; 
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.6px;
  color: #595566;
}


.financial-projections-navigation {
  position: absolute;

  right: 5%; 
  display: flex;
  flex-direction: row; 
  gap: 10px; 
  z-index: 10;
  padding-right: 20%;
  padding-top: 6%;
}

.nav-button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 15px;
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button.next {
  background-color: #ffc32b;
}

.nav-button.prev {
  background-color: #181818;
  color: #fff;
}


@media (max-width: 1024px) {
  .info-card {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px);
  }

  .financial-projections-navigation {
    top: 95%; 
    right: 8%; 
  }
}


@media (max-width: 768px) {
  .info-card {
    flex: 1 1 100%; 
    max-width: 100%;
  }

  .financial-projections-navigation {
    top: 95%; 
    right: 5%; 
    flex-direction: row; 
    gap: 15px; 
  }

  .nav-button {
    width: 50px; 
    height: 50px;
    font-size: 16px; 
  }
}



.process-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px;
  gap: 70px;
  margin: 0 auto;
  max-width: 1280px;
}

.process-image {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  object-fit: cover;
}

.process-content {
  flex: 1 1 13%;
}

.process-header {
  margin-bottom: 20px;
}

.process-header h2 {
  font-family: Cabin;
  font-size: 45px;
  font-weight: 700;
  line-height: 52.2px;
  text-align: left;
  color: #181818;
}

.process-services {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-direction: column;
}

.service-item {
  flex: 1 1 calc(50% - 20px);
  transition: transform 0.2s ease-in-out;
}

.service-item-header{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.service-item:hover {
  transform: translateY(-5px);
}

.service-item img {
  width: 20px;
  height: 20px;
 
}

.service-item h3 {
  font-family: Cabin;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.2px;
  text-align: left;
  color: #181818;
  
}

.service-item p {
  font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 23.6px;
text-align: left;
max-width: 470px;
margin-left: 30px;
color: #595566;

}

@media (max-width: 768px) {
  .process-container {
    flex-direction: column;
  }

  .process-image,
  .process-content {
    flex: 1 1 100%;
  }

  .service-item {
    flex: 1 1 100%;
  }

  .process-header h2 {
    font-size: 24px;
    text-align: center;
  }
}
